<div class="menu"  role="navigation"> 
    <ul id="navigationMenu" data-bind="template: { name: 'navigation-item-template', foreach: navigationItems, afterRender: slideChildsUp }" />
</div>
<script id="navigation-item-template" type="text/html">
    <li class="menu_navigation_arrow_down">
        <h3 data-bind="event:{click: function(data,event){$parent.mainItemClick(data,event)}}">
            <span data-bind="text: Title, event:{click: function(data,event){$parent.mainItemClick(data,event)}} "></span>
        </h3>
        <ul data-bind="template: { name: 'navigation-sub-item-template', foreach: ChildPages}"></ul>
    </li>
</script>
<script id="navigation-sub-item-template" type="text/html">
    <li>
        <a data-bind="attr: { href: Url }, text: Title" />
    </li>
</script>





