<div class="menu" role="navigation"> 
	<ul data-bind="template: { name: 'side-bar-item-template', foreach: navigationItems, afterRender: slideChildsUp }" />
</div>
<script id="side-bar-item-template" type="text/html">
	<li class="menu_navigation_arrow_down">
		<h3 data-bind="click: $parent.MainItemClick">
			<span data-bind="text: Title, click: $parent.MainItemClick"></span>
		</h3>		
		<ul data-bind="template: { name: 'side-bar-sub-item-template', foreach: ChildPages}"></ul>
	</li>
</script>
<script id="side-bar-sub-item-template" type="text/html">
	<li> 
		<a data-bind="attr: { href: Url }, text: Title" />
	</li>
</script>





