<div class="row paging-right">
    <nav>
        <ul class="pagination pagination-sm pull-right">
            <li>
                <a href="#" aria-label="PreviousFrame" data-bind="visible: hasPreviousFrame, event:{click: function(){ moveFrameLeft(); }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li>
                <a href="#" aria-label="PreviousPage" data-bind="visible: hasPreviousPage, event:{click: function(){ redirectToPage(currentPage-1); }}">
                    <span aria-hidden="true">&lsaquo;</span>
                </a>
            </li>
            <!-- ko foreach: pageNumbers -->
            <li data-bind="attr:{id: $data, class: $parent.prepareActiveClass($data)}">
                <a href="#" data-bind="event:{click: function(){ $parent.redirectToPage($data);}}">
                    <span aria-hidden="true" data-bind="text: $data"></span>
                </a>
            </li>
            <!-- /ko -->
            <li>
                <a href="#" aria-label="NextPage" data-bind="visible: hasNextPage, event:{click: function(){ redirectToPage(currentPage+1) }}">
                    <span aria-hidden="true">&rsaquo;</span>
                </a>
            </li>
            <li>
                <a href="#" aria-label="NextFrame" data-bind="visible: hasNextFrame, event:{click: function(){ moveFrameRight(); }}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
