<article id="mainContent" class="boxshd contentBox textshd" data-bind="visible: list() || true">
    <h1>Brands</h1>
    <section class="contentBox infoBox">
        <div>
            <ul>
                <li>
                    <label for="username">Name:</label>
                    <input type="text" data-bind="textInput: newBrandName" placeholder="New brand name.." />
                    <a href="#" class="glyphicon glyphicon-upload" data-bind="click: add, visible: newBrandName().length > 3"></a>
                </li>
                <li class="validation">
                    <div style="display:none;">
                    </div>
                </li>
            </ul>
        </div>
    </section>


    <section id="listedContainer" data-bind="visible: brands().length > 0">
        <ul class="listHead">
            <li class="tfiveBox">Name</li>
            <li class="fifteenBox toRight">Action</li>
        </ul>
        <!-- ko foreach: brands -->
        <ul class="listRow">
            <li class="tfiveBox">
                <input type="text" data-bind="value: Name" />
            </li>
            <li class="fifteenBox toRight">
                <a href="#" class="glyphicon glyphicon-remove" data-bind="click: $parent.delete"></a>
                <a href="#" class="glyphicon glyphicon-upload" data-bind="click: $parent.update, visible: dirtyFlag.isDirty"></a>
            </li>
        </ul>
        <!-- /ko -->
    </section>

    You have <span><b data-bind="text: brands().length">&nbsp;</b> brand(s)</span>
</article>
