<nav id="mainMenu" class="fontit textshd" role="mainmenu">
    <ul id="mainNav">
        <li>
            <a class="dashboard" href="#">
                <img src="images/icons/dashboard-sel.png">Dashboard
            </a>
        </li>
        <li>
            <a href="#">
                <img src="images/icons/license.png" />Catalog
            </a>
        </li>
        <li data-bind="visible: managementEnabled">
            <a href="#">
                <img src="images/icons/settings.png" />Management
            </a>
        </li>
    </ul>
</nav>
