* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

/*menubar starts*/
.menu[role="menubar"] {
        height: 37px;
        background: url("../images/nav-main-bg.png") repeat-x top #d9d9d9;
        width: 100%;
        padding-top: 5px;
        font-family: 'Prenton', Arial, sans-serif;
        letter-spacing: 1px;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    }

.menu[role="menubar"] ul {
    padding-left: 15px;
}

.menu[role="menubar"] ul li {
    display: inline;
}

.menu[role="menubar"] ul li a {
    height: 35px;
    border-top: 2px solid rgba(122, 174, 8, 0);
    padding: 0 30px 0 25px;
    color: #5a5a5a;
    font-size: 16px;
    font-weight: bold;
    float: left;
    line-height: 35px;
}

.menu[role="menubar"] ul li a img {
    padding-top: 7px;
    float: left;
    padding-right: 7px;
}

.menu[role="menubar"] ul li a:hover {
    border-top: 2px solid rgba(122, 174, 8, 0.3);
    background-color: rgba(245, 245, 245, 0.4);
}

.menu[role="menubar"] .selected, 
.menu[role="menubar"] .selected:hover {
    border-top: 2px solid rgba(122, 174, 8, 1);
    background-color: #f5f5f5;
    color: #192500;
}
/*menubar ends*/

/*user credentials and license cap box starts*/
.user{
        width: 410px;
        float: right;
        margin-top: 10px;
        margin-right: 15px;
}

.user p {
    float: left;
    margin-left: 10px;
    line-height: 30px;
}
.user .logout {
    height: 23px;
    line-height: 23px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    padding: 0 10px 0 25px;
    float: right;
    border-radius: 2px;
    background: url("../images/logout-icon.png") no-repeat 6px 7px rgba(255, 255, 255, 0.10);
}
/*user credentials and license cap box ends*/

/*Top Banner with XOMNI Logo starts*/
header[role="banner"] {
    height: 90px;
    background: url("../images/blue-bg-pattern.png") repeat-x top white;
    position: relative;
    color: White;
}

header[role="banner"] .logo {
        float: left;
}
/*Top Banner with XOMNI Logo ends*/

/* Central Content Area starts*/
.pageContainer h1 {
    display: block;
    color: #4c4c4c;
}

.rightContainer {
    float: left;
    width: 250px;
}

.leftContainer {
    display: block;
    overflow: hidden;
    margin-bottom: 45px;
}

.pageContainer {
    float: left;
    width: 100%;
}
/* Central Content Area ends*/

/* Navigation Menu starts*/
.menu[role="navigation"]{
    background: #efefef;
}

.menu[role="navigation"] ul li { /*main item*/
    display: block;
    border-top: 1px solid white;
    border-bottom: 1px solid #e2e2e2;
    min-height: 36px;
    line-height: 35px;
    cursor:pointer;
}

.menu_navigation_arrow_down{
    background: url("../images/icons/arrow-down.png") no-repeat 95% 10px;
}

.menu_navigation_arrow_up{
    background: url("../images/icons/arrow-up.png") no-repeat 95% 10px;
}

.menu[role="navigation"] ul ul li { /*sub item*/
    display: block;
    border-top: 1px solid white;
    border-bottom: 1px solid #e2e2e2;
    min-height: 36px;
    line-height: 35px;
}

.menu[role="navigation"] ul li { 
    display: block;
    font-size: 14px;
    color: #7a7a7a;
}
.menu[role="navigation"] ul li h3 span { 
    padding-left:10px;
}
.menu[role="navigation"] ul ul li { 

}
.menu[role="navigation"] ul ul li:hover { 
        background: #f5f5f5;
}

.menu_navigation_highlight{
        background: #f5f5f5;
}

.menu[role="navigation"] ul ul li a {
    color: rgb(58, 58, 58);
    display: block;
    padding-left:20px;
}

.menu[role="navigation"] a:hover {
    text-decoration:none;
    color: rgb(58, 58, 58);
}

.menu[role="navigation"] ul li:first-child {
    border-top: none;
}

.menu[role="navigation"] ul ul li:first-child {
    border-top: 1px solid white;
}

.menu[role="navigation"] ul li:last-child {
    border-bottom: none;
}

.menu[role="navigation"] ul ul li:last-child {
    border-bottom: 1px solid #e2e2e2;
}
/* Navigation Menu ends*/
/* Left Center Area starts*/
article[role="form"]{
    padding: 20px;
    overflow: hidden;
    background-color: white;
    position: relative;
    display: block;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}
article[role="form"] h1 {
        font-family: 'Prenton', Arial, sans-serif;
        letter-spacing: 1px;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
        font-size:24px;
        margin-bottom:15px;
}

/* Left Center Area ends*/

input[type=radio], input[type=checkbox] {
		display:none;
	}

input[type=radio] + label, input[type=checkbox] + label {
	display:inline-block;
	margin:-2px;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
	background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
	background-image: -o-linear-gradient(top,#fff,#e6e6e6);
	background-image: linear-gradient(to bottom,#fff,#e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border-bottom-color: #b3b3b3;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

 input[type=radio]:checked + label, input[type=checkbox]:checked + label{
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
	background-color:#e0e0e0;
}

 button[type=button] {
	display:inline-block;
	margin:-2px;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
	background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
	background-image: -o-linear-gradient(top,#fff,#e6e6e6);
	background-image: linear-gradient(to bottom,#fff,#e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border-bottom-color: #b3b3b3;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

 select{
    display:inline-block;
    width:100%;
	margin:-2px;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #ccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border-bottom-color: #b3b3b3;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);

 }